In [28]:
import pandas as pd

def do():
    data = [[1000,25], [280,120], [900,30]]
    
    print("unit price & Number:")
    df = pd.DataFrame(data, index=['store1','store2','store3'], columns=['unit price','number'])
    display(df)
    print("\n")

    print("total price:")
    df['total price'] = df['unit price'] * df['number']
    display(df)
    print("\n")

    print("Top 2 total price:")
    df = df.sort_values(by='total price', ascending=False)
    top2_df = df.iloc[[0,1]]
    display(top2_df)
    
if __name__ == '__main__':
    do()

unit price & Number:

        unit price  number
store1        1000      25
store2         280     120
store3         900      30

total price:

        unit price  number  total price
store1        1000      25        25000
store2         280     120        33600
store3         900      30        27000

Top 2 total price:

        unit price  number  total price
store2         280     120        33600
store3         900      30        27000